html {
    background-color: #00539f;
}
* {
  color: blue;
}

#myHeader{
  background-color: lightblue;
  color: red;
  font-size: 60px;
  padding: 40px;
  text-align: center;
}
.center {
  text-align: center;
  color: red;
}
h1 {
  margin-top: 100px;
  text-align: center;
  color: green;
}
h2 {
  text-align: center;
  color: green;
}
p.margintest {
  background-color: yellow;
  text-align: center;
}